body{
    height: 100vh;
    width: 100vw;
}
#calculator{
    height: 500px;
    width: 400px;
    background-color: #222;
    border-radius: 7px;
box-shadow: -3px 1px 101px 28px rgba(0,0,0,0.28);
-webkit-box-shadow: -3px 1px 101px 28px rgba(0,0,0,0.28);
-moz-box-shadow: -3px 1px 101px 28px rgba(0,0,0,0.28);
padding: 10px;
margin: auto;
position: relative;
top: 250px;
}
input[type=button]{
    height: 50px;
    width: 70px;
    border-radius: 7px;
    border: none;
    font-weight: bolder;
    background-color: #555;
    color: white;
}
.display-box{
    height: 50px;
    width: 90%;
    border: none;
    border-radius: 7px;
    background-color: #555;
    font-weight: bolder;
    color: white;
    padding-left: 10px;
}
input[type=button]:hover{
    background-color:#777 ;
    
}
input[type=button]:active{
    background-color:#444 ;
    
}
#spcl{
    background-color: #f39c12;
}
#but{
    background-color: #f39c12;
}
#spcl:hover{
    background-color: #e67e22;
}
#but:hover{
    background-color: #e67e22;
}
#spcl:active{
    background-color: #f39c12;
}
#but:active{
    background-color: #f39c12;
}